{:tasks
 {compile
  (clojure "-M:shadow-cli:dev" "compile" "main" "renderer")
  watch
  (clojure "-M:shadow-cli:dev" "watch" "main" "renderer" )
  start
  (shell
   {:extra-env {"ELECTRON_DISABLE_SECURITY_WARNINGS" "true"}}
   "npx electron .")
  release (clojure "-M:shadow-cli:dev" "release" "main" "renderer" )
  build
  {:depends [release]
   :task (shell "./script/build")}
  tw (shell "npx" "tailwind" "-i" "./src/org/sg/sghub/style.css" "-o" "./resources/public/site.css")}}
