{:paths ["src" "resources"]
 :deps
 {org.clojure/clojurescript {:mvn/version "1.11.54"}
  refx/refx.core {:git/url "https://github.com/ferdinand-beyer/refx.git"
                  :git/sha "bdfbb4401a2fcc1258ecc3544e0e290548fc3ea3"
                  :deps/root "core"}

  uix/uix.core {:git/url "https://github.com/roman01la/uix.git"
                :deps/root "core"
                :sha "843abbe4c4b331fbb0d7d197ecd038b466b48e43"}
  uix/uix.dom {:git/url "https://github.com/roman01la/uix.git"
               :deps/root "dom"
               :sha "843abbe4c4b331fbb0d7d197ecd038b466b48e43"}
  uix/uix.rn {:git/url "https://github.com/roman01la/uix.git"
              :deps/root "rn"
              :sha "843abbe4c4b331fbb0d7d197ecd038b466b48e43"}}
 :aliases
 {:shadow
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.20.2"}}
   }
  :dev {:extra-paths ["dev" "test"]}
  :shadow-cli
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.20.2"}}
   :main-opts ["--main" "shadow.cljs.devtools.cli"]}}}
