{:deps true
 :builds {:main {:target :node-script
                 :output-to "resources/public/main.js"
                 :main org.sg.sghub.main/main
                 :compiler-options
                 {:infer-externs true
                  :optimizations :simple}}

          :renderer {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "js"
                     :compiler-options
                     {:infer-externs :auto
                      :source-map true
                      :source-map-include-sources-content true
                      :source-map-detail-level :all}
                     :modules
                     {:renderer {:init-fn org.sg.sghub.renderer.main/main}}}}}
